@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    to top,
    #3A66A3 4%,
    #9DB2D1 72%,
    #FFFFFF 100%
  );
}
