@import "tailwindcss";

@utility glassy-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.7em;

  width: fit-content;
  margin-inline: 0.5em;
  padding: 0.5em;
  border-radius: 1em;

  border: 3px solid hsl(0, 0%, 100%, 0.3);
  background: hsl(0, 0%, 100%, 0.2);
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.6);
}
